@import "../../scss/variables.scss";

.content {
  position: relative;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
  background-color: #fff;
  box-shadow: 0 7px 30px -6px;
  z-index: 10;
  border-radius: 6px;
  margin-bottom: 30px;
}
