@import '../../scss/variables.scss';

header {
    width: 100%;
    min-height: 493px;
    margin-bottom: 0;
    padding-top: 45px;
    background-image: url(../../assets/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .site-logo {
        width: 100%;
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}

nav {
    height: 100%;
    align-items: center;
    justify-content: space-between;

    section {
        display: flex;

        h1 {
            font-size: 1.5rem;
            padding-top: 19px;
        }

        img {
            cursor: pointer;
            width: 135px;
            margin-right: 30px;
        }
    }
}
